<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../template/head", {tittle: "Divether 6", base_url:base_url})  %>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
</head>
<body>
  <div class="contenedor">
      <%- include("../../template/navbar")  %>
      <div id="desceleccionar" class="main" style="padding-top: 8rem">

        <h1 class="">Laboratorios</h1>

        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nombre del Laboratorio</th>
                            </tr>
                        </thead>
                        <tbody id="tabla_paginada">
                            <% if (laboratorios.length === 0) { %>
                                <tr>
                                    <td style="text-align:center;" colspan="7">
                                        No hay registros.
                                    </td>
                                </tr>
                            <% } else { %>
                                <% laboratorios.forEach(laboratorio => { %>
                                    <tr>
                                        <td>
                                            <a 
                                                href="#!"
                                                class="eliminar_laboratorio"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="right"
                                                title="Eliminar Laboratorio"
                                                laboratorio_id="<%= laboratorio.laboratorio_id %>"
                                                laboratorio_nombre="<%= laboratorio.laboratorio_nombre %>">
                                                <i class="far fa-minus-square"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <%= laboratorio.laboratorio_nombre %>
                                        </td>
                                    </tr>
                                    <% }); %>
                            <% } %> 
                        </tbody>
                        <tbody id="tabla_busqueda"></tbody>
                    </table>
                    <a href="/dashboard/nuevo_laboratorio" type="button" class="btn btn-success">Agregar laboratorio</a>
                </div>
            </div>
        </div>
        
      </div>
    </div>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
        crossorigin="anonymous"
    ></script>
    <%- `<script src="${base_url}js/index.js"></script>`  %>
    <%- `<script src="${base_url}js/app.js"></script>`  %>   
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- `<script src="${base_url}js/template.js"></script>`  %>   
    <%- `<script src="${base_url}js/laboratorios/laboratorios.js"></script>`  %>   
    
</body>
</html>