<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("template/head", {tittle: "Divether 6", base_url:base_url})  %>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
  <div class="contenedor">
      <%- include("template/navbar")  %>
      <div id="desceleccionar" class="main">
        
        <div class="wrapper-contenido contenedor grid">
          <section class="awSlider">
            <div  class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target=".carousel" data-slide-to="0" class="active"></li>
                <li data-target=".carousel" data-slide-to="1"></li>
                <li data-target=".carousel" data-slide-to="2"></li>
                <li data-target=".carousel" data-slide-to="3"></li>
              </ol>
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/img/almacen 1.jpeg">
                  <!-- <div class="carousel-caption">Almacen</div> -->
                </div>
                <div class="item">
                  <img src="/img/almacen 2.jpeg">
                  <!-- <div class="carousel-caption">Consultorio</div> -->
                </div>
                <div class="item">
                  <img src="/img/almacen 9.jpeg">
                  <!-- <div class="carousel-caption">Productos</div> -->
                </div>
                <div class="item">
                  <img src="/img/almacen 10.jpeg">
                  <!-- <div class="carousel-caption">Equipo de Trabajo</div> -->
                </div>
              </div>
          
              <!-- Controls -->
              <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Geri</span>
              </a>
              <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">İleri</span>
              </a>
            </div>
          </section>
      
          <div class="nosotros">
            <h2 class="text-nosotros">Sobre Nosotros</h2>
            <p>Somos una empresa dedicada a la distribucion de productos veterinarios, con mas de 20 años de experiencia
              en el mercado. Manejamos mas de 30 laboratorios, con gran amplitud de productos para grandes y pequeñas
              especies.
            </p>
            <p>Contamos con un personal capacitado para ofrecer el mejor servicio a nuestros clientes, dandoles
              conferecias y capacitaciones continuamente sobre los nuevos productos lanzados al mercado.
            </p>
            <p>Contamos con una clinica para que nuestros clientes y público en general
              pueda treaer a sus mascotas y sean atendidas con médicos capacitados para las consultas y
              cirujias.
            </p>
            <p>

            </p>
          </div>
        </div>

      </div>
      <%- include("template/footer")  %>
    </div>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
        crossorigin="anonymous"
    ></script>
    <%- `<script src="${base_url}js/index.js"></script>`  %>
    <%- `<script src="${base_url}js/template.js"></script>`  %>   
</body>
</html>